In [29]:
%load_ext autoreload
%autoreload 2

from pathlib import Path

import pandas as pd
import yaml

from analysis.dataset.june_dataset import JuNEDataset


def read_config(config_path: Path = Path("data_config.yaml")) -> dict:
    with config_path.open("r") as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError:
            return {}

config = read_config()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
df_hack = pd.read_csv(config.get("dataset_path"), index_col=0)
df_labels = pd.read_csv(config.get("label_mapping_path"), index_col=0)
df_hack = df_hack.merge(df_labels, on='action_id')

df_hack.head()

,action_id,time,session_id,kernel_id,notebook_name,event,cell_index,cell_num,cell_type,cell_source,cell_output,user_id,expert,cell_label
0,0,2023-05-06 10:32:26.282,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,save_notebook,NaN,NaN,NaN,"[\n {\n ""id"": ""35c0b3b694f84140846a21197ea...",NaN,student_7,False,NaN
1,1,2023-05-06 10:32:55.892,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,execute,35c0b3b694f84140846a21197ea62f68,0.0,code,from mining_extension import check_logging \nc...,NaN,student_7,False,helper_functions
2,2,2023-05-06 10:32:56.229,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,finished_execute,35c0b3b694f84140846a21197ea62f68,0.0,code,from mining_extension import check_logging \nc...,"[{""output_type"":""stream"",""size"":23}]",student_7,False,helper_functions
3,3,2023-05-06 10:32:58.048,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,execute,35c0b3b694f84140846a21197ea62f68,0.0,code,from mining_extension import check_logging \nc...,NaN,student_7,False,helper_functions
4,4,2023-05-06 10:32:58.429,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,finished_execute,35c0b3b694f84140846a21197ea62f68,0.0,code,from mining_extension import check_logging \nc...,"[{""output_type"":""stream"",""size"":23}]",student_7,False,helper_functions

In [25]:
june = JuNEDataset(df_hack)
june.prepare_dataset()
june.df

,action_id,time,session_id,kernel_id,notebook_name,event,cell_index,cell_num,cell_type,cell_source,cell_output,user_id,expert,cell_label,task
0,0,2023-05-06 10:32:26.282,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,save_notebook,None,None,None,"[\n {\n ""id"": ""35c0b3b694f84140846a21197ea...",None,student_7,False,None,task1
1,1,2023-05-06 10:32:55.892,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,execute,35c0b3b694f84140846a21197ea62f68,0.0,code,from mining_extension import check_logging \nc...,None,student_7,False,helper_functions,task1
2,2,2023-05-06 10:32:56.229,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,finished_execute,35c0b3b694f84140846a21197ea62f68,0.0,code,from mining_extension import check_logging \nc...,"[{""output_type"":""stream"",""size"":23}]",student_7,False,helper_functions,task1
3,3,2023-05-06 10:32:58.048,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,execute,35c0b3b694f84140846a21197ea62f68,0.0,code,from mining_extension import check_logging \nc...,None,student_7,False,helper_functions,task1
4,4,2023-05-06 10:32:58.429,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,finished_execute,35c0b3b694f84140846a21197ea62f68,0.0,code,from mining_extension import check_logging \nc...,"[{""output_type"":""stream"",""size"":23}]",student_7,False,helper_functions,task1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23617,23617,2023-08-18 18:00:52.629,9889103b-e51e-418f-b890-ab42ef266bc5,789ccc53-ffd3-48ba-9135-13fc8c1ce0c0,task1.ipynb,finished_execute,aa46744a5169409ab0eaef0df6319217,35.0,code,for i in range(len(list(array_of_dates))):\n ...,"[{""output_type"":""stream"",""size"":38978},{""outpu...",student_10,False,None,task1
23618,23618,2023-08-18 18:01:10.991,9889103b-e51e-418f-b890-ab42ef266bc5,789ccc53-ffd3-48ba-9135-13fc8c1ce0c0,task1.ipynb,execute,351dbffd267149b18870f078fff8b438,33.0,code,import copy\nall_datas = list(df['action_time'...,None,student_10,False,None,task1
23619,23619,2023-08-18 18:01:14.946,9889103b-e51e-418f-b890-ab42ef266bc5,789ccc53-ffd3-48ba-9135-13fc8c1ce0c0,task1.ipynb,finished_execute,351dbffd267149b18870f078fff8b438,34.0,code,import copy\nall_datas = list(df['action_time'...,"[{""output_type"":""stream"",""size"":704}]",student_10,False,None,task1
23620,23620,2023-08-18 18:01:45.019,9889103b-e51e-418f-b890-ab42ef266bc5,789ccc53-ffd3-48ba-9135-13fc8c1ce0c0,task1.ipynb,execute,aa46744a5169409ab0eaef0df6319217,34.0,code,for i in range(len(list(array_of_dates))):\n ...,None,student_10,False,None,task1
23621,23621,2023-08-18 18:02:46.545,9889103b-e51e-418f-b890-ab42ef266bc5,789ccc53-ffd3-48ba-9135-13fc8c1ce0c0,task1.ipynb,finished_execute,aa46744a5169409ab0eaef0df6319217,35.0,code,for i in range(len(list(array_of_dates))):\n ...,"[{""output_type"":""stream"",""size"":10487},{""outpu...",student_10,False,None,task1

In [26]:
evol_df = june.to_evolution_dataframe()
evol_df.head()

100%|██████████| 31/31 [00:28<00:00,  1.10it/s]

,state_num,cell_index,cell_num,cell_source,action_id,time,session_id,kernel_id,notebook_name,event,cell_type,cell_output,user_id,expert,cell_label,task
0,1,35c0b3b694f84140846a21197ea62f68,0.0,# # Do not forget to check if your notebook lo...,0.0,2023-05-06 10:32:26.282,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,save_notebook,None,None,student_7,False,None,task1
0,2,35c0b3b694f84140846a21197ea62f68,0.0,from mining_extension import check_logging \nc...,1.0,2023-05-06 10:32:55.892,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,execute,code,None,student_7,False,helper_functions,task1
0,3,35c0b3b694f84140846a21197ea62f68,0.0,from mining_extension import check_logging \nc...,2.0,2023-05-06 10:32:56.229,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,finished_execute,code,"[{""output_type"":""stream"",""size"":23}]",student_7,False,helper_functions,task1
0,4,35c0b3b694f84140846a21197ea62f68,0.0,from mining_extension import check_logging \nc...,3.0,2023-05-06 10:32:58.048,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,execute,code,None,student_7,False,helper_functions,task1
0,5,35c0b3b694f84140846a21197ea62f68,0.0,from mining_extension import check_logging \nc...,4.0,2023-05-06 10:32:58.429,709ce80b-90a5-457e-bf6f-b7033a3261b5,bc147b33-fa74-4bff-9f48-c88809c5bdcd,task1.ipynb,finished_execute,code,"[{""output_type"":""stream"",""size"":23}]",student_7,False,helper_functions,task1

In [27]:
june.get_notebook_state_by_id(100000)

,state_num,cell_index,cell_num,cell_source,action_id,time,session_id,kernel_id,notebook_name,event,cell_type,cell_output,user_id,expert,cell_label,task
0,1049,a0b9874568c64b138ada35454e90d6c3,0.0,# # Do not forget to check if your notebook lo...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
1,1049,0bde5a02b83d47a89f9a616b7d95fa23,1.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
2,1049,888f0c95c75e43f0aaa79668dbb9a7af,3.0,!unzip data/task1/jetnet_logs.zip,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
3,1049,75ebe2675969497cb1d7fa388e7e692c,4.0,df.isna().sum(),5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
4,1049,6b66fa07a78744579abed277cfdf11b7,5.0,df['action_name'].unique(),5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
5,1049,a8f561503c574a5585e3cb865d1dda03,6.0,"df.to_csv('all_data.csv', index=False)",5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
6,1049,1a57d9e30cc641fc88f2225efdb3ea86,7.0,df = pd.read_csv('all_data.csv')\ndf,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
7,1049,33a65b2e0f4f49048d7dd87b45c0237f,8.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
8,1049,6065fce2d36e43cb8a56d0bc9cb9a1ce,9.0,# df = df[(df['action_name'].notnull()) & (df[...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
9,1049,c1f9c9e58ec34d66bd36d6229f30c405,10.0,df['action_name'].unique(),5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
10,1049,baf22be66b114eefba6ef6c06adc5db6,12.0,df,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
11,1049,e68ed9346ae5455eb99523c66ef1897c,13.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
12,1049,fea62313a9b2458791b8a2cf3a52aa83,14.0,"print(""Mean actions count per user overall = {...",5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
13,1049,7cfa3cb18df749359e0e8f4bad8df91f,15.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
14,1049,ad02cb2e71124c6d8469a3c19c26a06f,16.0,df2 = df.copy()\ndf2,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
15,1049,8d96d8ce07924e41936d903a868e7e48,17.0,df[df['action_time'].isna()],5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
16,1049,20e73db9f6ad4847808ce2afcc0b3cf4,18.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
17,1049,07163649a27d4abd9796f8f3a8b1c369,19.0,"df2 = df2.sort_values(by=['session_num', 'acti...",5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
18,1049,8f9e149db8ae49c387797e527713b546,20.0,"def assume_date(row, df):\n index = row.nam...",5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
19,1049,0a12d875b6ab490c9489ccb1567c20e4,21.0,# df2['action_time'] = df2.apply(lambda row: a...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
20,1049,bb0b9c6a4d6043229404aec8aec1ae60,22.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
21,1049,ee1402e06e2e478889d0181c13b65b68,23.0,df2 = df2.dropna(subset=['action_time'])\ndf2[...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
22,1049,3d216043525c4c958b961147bc8d747b,24.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
23,1049,3e53551547664cb785f5b0f0bea86769,25.0,def is_there_triple(series):\n for i in ran...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
24,1049,ee44164762ed482b89aa95fcb4d67521,26.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
25,1049,ef10456c2d3744e59be718108aa98d8f,27.0,df2 = df.copy()\ndf2 = df2.dropna(subset=['act...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
26,1049,d2e70d64f08f44f58009a6b39317cb64,28.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
27,1049,258c05872b19400b856d285cbf9dca57,29.0,df2 = df.copy()\ndf2 = df2.dropna(subset=['act...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
28,1049,1c88abbd22b44a808556dec42e4a644f,30.0,df2['week_day'] = df2['action_time'].dt.day_na...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
29,1049,fa4996d9d4f64dd09d44e3c6cd664d10,31.0,actions_by_day = df2.groupby('week_day')['acti...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
30,1049,ff80a59828a74cfa83ea8e85a8f1f819,32.0,actions_by_weekend = df2.groupby('is_weekend')...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
31,1049,0d7ae8700f104efd9c8499d2488ad0fb,33.0,567669 * 5/2 - 1401825,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
32,1049,c8810a5e71e945e3ad1703d33bbeeceb,34.0,df2['date'] = df2['action_time'].dt.date\ndf2,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
33,1049,852ef540ed2a4d3a8a128d16253bc83a,35.0,mean_click_by_day = df2.groupby('date').count(...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
34,1049,2172812ec6774c0680ddf76d98a7becf,36.0,df,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
35,1049,795b340d4c3849e885cd5d6a01aa8838,37.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
36,1049,8bb55742d275426f8b2ca45c785b9ee3,38.0,df2 = df.copy()\ndf2 = df2.dropna(subset=['act...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
37,1049,f8010027edd148ff81e03c361b8caaa1,39.0,"weekday_hour_counts = df2.groupby(['weekday', ...",5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
38,1049,4e9a70390d314fea8066d07e953f3cbe,40.0,from scipy.stats import chi2_contingency\n\n\n...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
39,1049,dd86b80315f14120b400045969bdbd33,41.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
40,1049,6226ea880a6b482f8ea613c2f9d264db,42.0,df2['weekday_name'] = df2['action_time'].dt.da...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
41,1049,46a78ef74ce74a7299d787aa89636d2c,43.0,"chi2, p_value, _, _ = chi2_contingency(weekend...",5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
42,1049,c70d9a785fea47fb9e771749799fc30c,44.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
43,1049,9147248da8a04122a4ef5325f87e8289,45.0,df2 = df.copy()\ndf2 = df2.dropna(subset=['act...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
44,1049,681ddec27dac46938f636effb3feea66,46.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
45,1049,3269342d773f4f70bb8f165f750d4a5a,47.0,def session_duration(series):\n return seri...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
46,1049,34c1491fb33e4986a0040ac0d5605dea,48.0,session_duration['session_duration'].mean(),5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
47,1049,73fa231e859a444f95a8e8b0ddd553b3,49.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
48,1049,78c75282f939446fa1c0563b5bdec76d,50.0,"# df2_sorted = df2.sort_values(by=['user_id', ...",5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
49,1049,f6b2770d379345e586eb755f6e263be6,51.0,"## Secondly, num of unique actions per session...",5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
50,1049,38116f7774da491a83847225f89ea4ff,52.0,df.groupby('session_num')['action_name'].apply...,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
51,1049,5b47de0c3ece4eb1aefabcab4a3054b3,53.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
52,1049,6e565366413e4424b0574e6c159b6b8b,54.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
53,1049,02f38cb8aaf34202891cb8c31b1866e8,56.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1
54,1049,454b0c51407d4d70ad5679db8aa7bc58,72.0,None,5871.0,2023-05-06 15:06:00.408,387fc734-8ea2-4f9f-9295-5fbda1d8326d,36c724d9-3a5f-43e2-aba2-2d0933046f35,task1.ipynb,create,code,None,student_6,False,data_exploration,task1