In [3]:
import pandas as pd
import sqlite3

In [56]:
sample_df = pd.read_csv('../data/Sample.csv')

In [59]:
n_participants = len(sample_df)
n_participants

20

In [64]:
sample_df.groupby('Status').describe()

             User_id                                                     \
               count       mean       std   min   25%   50%   75%   max
Status
Professional     9.0  14.000000  2.738613  10.0  12.0  14.0  16.0  18.0
Student         11.0   7.636364  6.360389   1.0   3.5   6.0   8.5  20.0

             Expirience
                  count       mean        std   min   25%   50%   75%   max
Status
Professional        3.0  60.666667  17.009801  48.0  51.0  54.0  67.0  80.0
Student             9.0  33.333333  12.767145  12.0  24.0  36.0  36.0  50.0

In [73]:
sum(sample_df.ML) + sum(sample_df.DA)

29

In [66]:
from pathlib import Path
from data_loading import read_hackathon_data

path = Path("data_config.yaml")
df_hack = read_hackathon_data(path, attach_users=True)
df_hack.head()

,id,ip_address,time,session_id,kernel_id,notebook_name,event,cell_index,cell_num,cell_type,cell_source,cell_output,expert,user_id
0,10,None,2023-05-06T08:30:38.037Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,save_notebook,None,NaN,None,"[\n {\n ""id"": ""e4836a849dea49f1a753df2274f...",None,False,student_2
1,17,192.168.1.56,2023-05-06T08:31:35.929Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,execute,e4836a849dea49f1a753df2274fbdbc5,0.0,code,# # Do not forget to check if your notebook lo...,None,False,student_2
2,18,192.168.1.56,2023-05-06T08:31:35.944Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,create,dbcf462e8f6c4e3a89c0d6d0d083c0b2,0.0,code,None,None,False,student_2
3,19,192.168.1.56,2023-05-06T08:31:36.049Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,finished_execute,e4836a849dea49f1a753df2274fbdbc5,1.0,code,# # Do not forget to check if your notebook lo...,"[{""output_type"":""stream"",""size"":23}]",False,student_2
4,41,192.168.1.56,2023-05-06T08:37:46.346Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,execute,dbcf462e8f6c4e3a89c0d6d0d083c0b2,1.0,code,!ls data/task1,None,False,student_2

In [70]:
len(df_hack.cell_index.dropna().unique())

2567

In [75]:
len(df_hack)

20984

In [79]:
len(df_hack[df_hack.event == 'execute'])

8244

In [82]:
len(df_hack[df_hack.event == 'delete'])

701

In [83]:
len(df_hack[df_hack.event == 'create'])

1729

In [ ]:
len(df_hack[df_hack.event == 'delete'])

In [84]:
df_hack

,id,ip_address,time,session_id,kernel_id,notebook_name,event,cell_index,cell_num,cell_type,cell_source,cell_output,expert,user_id
0,10,None,2023-05-06T08:30:38.037Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,save_notebook,None,NaN,None,"[\n {\n ""id"": ""e4836a849dea49f1a753df2274f...",None,False,student_2
1,17,192.168.1.56,2023-05-06T08:31:35.929Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,execute,e4836a849dea49f1a753df2274fbdbc5,0.0,code,# # Do not forget to check if your notebook lo...,None,False,student_2
2,18,192.168.1.56,2023-05-06T08:31:35.944Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,create,dbcf462e8f6c4e3a89c0d6d0d083c0b2,0.0,code,None,None,False,student_2
3,19,192.168.1.56,2023-05-06T08:31:36.049Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,finished_execute,e4836a849dea49f1a753df2274fbdbc5,1.0,code,# # Do not forget to check if your notebook lo...,"[{""output_type"":""stream"",""size"":23}]",False,student_2
4,41,192.168.1.56,2023-05-06T08:37:46.346Z,a7b38785-5e80-4d1b-9722-6673e4c78877,5c2e86ab-cd96-4e48-98bc-28ed10fa8aac,task1.ipynb,execute,dbcf462e8f6c4e3a89c0d6d0d083c0b2,1.0,code,!ls data/task1,None,False,student_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20979,2675,46.223.162.124,2023-07-03T15:11:04.775Z,7e660212-236c-414c-8326-ef7c28b2f0e2,bb4138c1-dd04-480d-a5b6-d51e1b9048d8,task2.ipynb,execute,63ef60bff06745028aa11ede4424e4fe,30.0,code,"f1_score(y_test_primary, rfclf.predict(prepare...",None,True,expert_1
20980,2676,46.223.162.124,2023-07-03T15:11:05.060Z,7e660212-236c-414c-8326-ef7c28b2f0e2,bb4138c1-dd04-480d-a5b6-d51e1b9048d8,task2.ipynb,finished_execute,63ef60bff06745028aa11ede4424e4fe,30.0,code,"f1_score(y_test_primary, rfclf.predict(prepare...","[{""output_type"":""stream"",""size"":471},{""output_...",True,expert_1
20981,2677,46.223.162.124,2023-07-03T15:12:10.432Z,7e660212-236c-414c-8326-ef7c28b2f0e2,bb4138c1-dd04-480d-a5b6-d51e1b9048d8,task2.ipynb,create,327eace519e342328b854732db0e883a,10.0,code,None,None,True,expert_1
20982,2678,46.223.162.124,2023-07-03T15:12:12.134Z,7e660212-236c-414c-8326-ef7c28b2f0e2,bb4138c1-dd04-480d-a5b6-d51e1b9048d8,task2.ipynb,execute,327eace519e342328b854732db0e883a,11.0,code,class_map,None,True,expert_1
20983,2679,46.223.162.124,2023-07-03T15:12:12.154Z,7e660212-236c-414c-8326-ef7c28b2f0e2,bb4138c1-dd04-480d-a5b6-d51e1b9048d8,task2.ipynb,finished_execute,327eace519e342328b854732db0e883a,11.0,code,class_map,"[{""output_type"":""execute_result"",""size"":237}]",True,expert_1